torch==1.9.0+cu111
torchvision==0.10.0+cu111

# --- OpenMMLab ---
openmim
mmcls
mmcv==2.0.0
mmengine
mmeval
mmdet
mmpretrain
mmsegmentation
mmyolo
# mmgen

# --- other ---
grad-cam
jupyter
netron
openpyxl
optuna
scikit-learn
thop
timm
xlrd

# --- deploy ---
onnxruntime-gpu
openvino-dev[onnx]

# --- useless ---
mediapipe
seaborn
tensorboard

# --- nlp ---
# nltk
# jieba

# --- pdf ---
pdfminer
pdfminer3k
pdfminer.six
pymupdf
pypdf2

# --- Qt ---
pyqt5
pyside2
# pyinstaller