# torch torchvision torchaudio torch-geometric --index-url https://download.pytorch.org/whl/cu121

# --- other ---
brotli
jupyter
opencv-python
openpyxl
optuna
pandas
pyyaml
scikit-learn
tqdm
xlrd

# --- torch ---
grad-cam
timm

# --- deploy ---
netron
onnxruntime-gpu
# openvino-dev[onnx]

# --- Qt ---
pyqt5
pyside2
# pyinstaller

# --- useless ---
# mediapipe
# seaborn
# tensorboard
# thop

# --- nlp ---
# nltk
# jieba

# --- pdf ---
# pdfminer
# pdfminer3k
# pdfminer.six
# pymupdf
# pypdf2

# --- OpenMMLab ---
# openmim
# mmcls
# mmcv==2.0.0
# mmengine
# mmeval
# mmdet
# mmpretrain
# mmsegmentation
# mmyolo
# mmgen
