fixed_layers: [ -2 ]
depth_multiple: 1.0
width_multiple: 1.0
img_size: 640
drop_pos: [ 6, 9, 12 ]

architecture:
  # [from, number, module, args]
  [ [ -1, 1, Conv, [ 64, 3, 2 ] ],     # Stem
    [ -1, 1, MobileOne, [ 64, [ 0, 1, 3 ], 2 ] ],

    [ -1, 1, MobileOne, [ 64, [ 3, 7 ], 2 ] ],
    [ -1, 2, FastAttention, [ 3 ] ],      # Stage 1

    [ -1, 1, MobileOne, [ 64, [ 3, 7 ], 2 ] ],
    [ -1, 2, FastAttention, [ 3 ] ],      # Stage 2
    [ -1, 1, DropBlock, [ 5, 0.1 ] ],

    [ -1, 1, MobileOne, [ 128, [ 3, 7 ], 2 ] ],
    [ -1, 6, FastAttention, [ 3 ] ],      # Stage 3
    [ -1, 1, DropBlock, [ 5, 0.1 ] ],

    [ -1, 1, MobileOne, [ 256, [ 3, 7 ], 2 ] ],
    [ -1, 2, FastAttention, [ 0 ] ],      # Stage 4
    [ -1, 1, DropBlock, [ 5, 0.1 ] ],

    [ -1, 1, RepConv, [ 256, [ 0, 3 ], 1, dw ] ],
    [ -1, 1, nn.AdaptiveAvgPool2d, [ 1 ] ],
    [ -1, 1, nn.Conv2d, [ 6, 1 ] ],
    [ -1, 1, nn.Flatten, [ ] ]
  ]
